<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
  <p>
    <a href="#!/users" class="btn btn-default"> Créer un utilisateur </a>
  </p>
    </div>

    <div class="col-md-10">
      <div class="users container container-fluid">
        <div ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="panel panel-default">
          <div class="panel-heading">
              <h1>{{user.firstName}} {{user.lastName}}</h1>
          </div>
          <div class="panel-body">
            <p>{{user.email}}</p>
            <a href="#!/users/{{user.id}}" class="btn btn-info" >Modifier</a>
            <a class="btn btn-danger">Supprimer</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
